<!-- 
<mat-drawer #drawer class="example-sidenav" mode="side">
  <mat-drawer-container class="example-container" autosize>
    <div class="list">
      <ul class="links">
        <li><a routerLink="/" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/contacts" routerLinkActive="active">Contact</a></li>
        <li><a routerLink="/about-us" routerLinkActive="active">About us</a></li>
      </ul>
    </div>
  </mat-drawer-container>


</mat-drawer>

<div class="example-sidenav-content">
  <button type="button" mat-button (click)="drawer.toggle()">
    <i class="material-icons absolute-icon">toc</i>
  </button>
</div>
 -->
