<div class="container">
    <div class="flex flex-wrap -px-5 mb-3 mt-5 justify-center">
        <div class="w-full flex justify-center ">
        <div class="circular--landscape">
            <img src="../assets/images/about-us2.jpg">
        </div>
        <div class="pad">
            <h1 >ABOUT US</h1>
            <h2 >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo totam quae id culpa laborum voluptatem provident cum corporis accusamus iste. Praesentium commodi quasi eveniet distinctio blanditiis repellat dolore ullam aut.</h2>
        </div>
        </div>
    </div>
</div>



