
<form class="example-form">
    <div class="flex flex-wrap -px-5 mb-3 mt-5 justify-center">
        <div class="w-full flex justify-center ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last Name </mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <!-- <div class="w-full flex justify-center ">

        </div> -->
    
        <div class="w-full flex justify-center ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Address</mat-label>
                <input matInput placeholder="Ex. 100 Main St">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput placeholder="Ex. San Francisco">
            </mat-form-field>
        </div>
        <div class="w-full flex justify-center ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Message</mat-label>
                <textarea matInput placeholder="Your message"></textarea>
            </mat-form-field>
        </div>

        <!-- <div class="w-full flex justify-center ">
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Postal Code</mat-label>
                <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="">
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>
        </div> -->

        <div class="w-full flex justify-center ">
            <button mat-raised-button color="basic">Submit</button>
        </div>
    </div>
</form>

    <!-- <div class="example-label">Raised</div> -->
 

